# Node modules (backend + frontend)
node_modules/

# Environment variables
.env
.env.*

# Logs
*.log
logs/

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Coverage
coverage//